.lection-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.lection-image {
  width: 200px;
  height: 200px;
}

.lection-title {
  font-family: "Roboto", sans-serif;
  font-weight: 200; 
  color: var(--md-sys-color-on-surface);
}

.lection-paragraph {
  font-family: "Roboto", sans-serif;
  color: #666;
}
